.saludo{
    display: flex;
    margin-top: 30px;
    margin-left: 120px;
}

.saludo span{
    color: #FE1936;
    font-weight: 700;
    font-size: 24px;
    
}
.saludo p{
    font-weight: 400px;
    font-size: 24px;
}

.container_CardPoke{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 25px;

}
@media (max-width:700px){
  
    .saludo{
        margin-left: 20px;
    }
    .container_CardPoke{
        margin-left: 40px;
    }

    .container_CardPoke{
        margin-left: 30px;
        margin-right: 60px;
    }

}