
.container_det{  
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center; 
 
    flex-wrap: wrap;
}
.header_det{
    margin-top: 100px;
    width: 100%;
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}
.header_det img{
    margin-top: 0;
    position: absolute;
    z-index: 1;
    height: 500px;
}
.card_id{
    margin-top: 500px;
}
.card_id h2{
    font-size: 3rem;
    text-align: center;
}
.title{
    margin-top: 30px;
    font-size: 2rem;  
   text-align: center;
}
.dimensions{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.weight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weight h4{
    font-size: 16px;
}
.weight h3{
    font-size: 25px;
}
.height h4{
    font-size: 16px;
}
.height h3{
    font-size: 25px;
}

.height{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTipA{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.type{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top: 10px;
   gap: 10px;
   width: 400px;
   flex-wrap: wrap;
}

.skills{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    gap: 10px;
    width: 400px;
    flex-wrap: wrap;
}
.slot {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7EC6C5;
    height: 40px;
    width: 200px;
}
.abilit{
   
    display: flex;
    justify-content: center;
    align-items: center;
     background: #D3D3D3;
    height: 40px;
    width: 200px;
}

.container_statDet{
    display: flex;
    flex-direction: column;
}
.container_statDet h2{
    font-size: 25px;
    font-weight: 400;
}
.hp{
    min-width: 700px;
    height: 34px;
    background-color: red;
}
.valhP{
    width:50%;
    height:34px;
    background-color: black;
}